* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


html {
    height: 100svh;
}

body {
    background-image: linear-gradient(rgba(19, 20, 20, 0.7), rgba(23, 23, 24, 0.7)), url(../Images/BestBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    height: 100svh;
    /* overflow: hidden; */
}

/* Sidebar */
.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
    ;
}


.sidebar.active {
    width: 250px;
    position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.sidebar img.logo {
    transition: all 0.3s;
    padding: 5px;
    width: 55px;
    height: 50px;
}

.sidebar.active img.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar #btn {
    position: absolute;
    color: #fcf006;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.user {
    display: flex;
    align-items: center;
    margin: 2.9rem .1rem;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600px;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    transition: all 0.5s ease;
}

.bxs-info-circle {
    background-color: #fcf006;
    color: #12171e;
}

.sidebar ul li a {
    color: #fcf006;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.5s ease;
}

.sidebar ul li a:hover {
    background-color: #fcf006;
    color: #12171e;
    animation: glow2 2s infinite;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 25px;
    padding-top: 0;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 22px;
    background-color: #fcf006;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    z-index: 20;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: -40px;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

/* About Us */
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 25px;
    position: relative;
    animation: glow 4s infinite;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #fcf006;
}

.heading p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    animation: glow 4s infinite;

}

.container-about {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.about-images {
    display: flex;
    flex: 0.75;
    margin-right: 40px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.about-images img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 0.2s ease-in-out;
}

.fade {
    display: flex;
    transition: transform 2s linear;
    overflow: hidden;
}

.fade img {
    flex: 0 0 auto;
    width: 100%;
    opacity: 1;
    transition: opacity 2s linear;
}

.fade img:not(:first-child) {
    opacity: 0;
}

.apple {
    color: #fcf006;
}



/* .about-images:hover img{
    transform: scale(1.2);
  } */
.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #fbfbfb;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fcf006;
    color: #12171e;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: #12171e;
    color: #fcf006;
}

.about-content .read-more:active {
    transform: scale(0.9);
}

/* animations */
@keyframes glow {
    0% {
        filter: drop-shadow(0 0 20px #f2f2f2);
    }

    25% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    50% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    75% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    100% {
        filter: drop-shadow(0 0 20px #ffffff);
    }
}

@keyframes glow2 {
    0% {
        filter: drop-shadow(0 0 20px #fcf006);
    }

    25% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    50% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    75% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    100% {
        filter: drop-shadow(0 0 20px #fcf006);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: .75em;
    /* display: none; */
}

::-webkit-scrollbar-track {
    background: rgb(229, 229, 33);
    /* border-radius: 50vw; */
}

::-webkit-scrollbar-thumb {
    background: #24262b;
    /* border-radius: 100vw; */

}


/* Footer */

footer {
    height: 300px;
    width: calc(100% - 80px);
    margin-left: 80px;
    background: #12171e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 115px;
    padding-right: 10px;
    font-weight: lighter;
    color: #fff;
    margin-left: 80px;
    text-wrap: nowrap;
}

.info p {
    font-size: 1rem;
}

.info a {
    font-size: 1rem;
    color: #fff;
}

.social_icons {
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    width: 79px;
    justify-content: space-between;
}

.socials p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.social_icons a {
    color: #fff;
}

.social_icons .bxl-instagram-alt,
.social_icons .bxl-facebook-circle {
    transition: 0.3s ease;
}

.social_icons .bxl-instagram-alt:hover,
.social_icons .bxl-facebook-circle:hover {
    scale: 1.1;
    color: #fcf006;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}

.socials img {
    width: 99px;
    animation: glow2 4s infinite;
}

.author {
    margin-right: 40px;
}

.author p {
    font-size: 1.1rem;
    text-align: center;

}

@media(max-width:1050px) {
    footer {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 50px;
    }

    .socials {
        margin-left: 240px;
        margin-right: 0;
    }

    .author {
        flex-grow: 1;
        margin-top: 30px;
    }

}

@media(max-width:590px) {
    footer {
        padding: 40px 2px;
    }
}

@media(max-width:773px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .socials {
        margin: 0;
    }

    .info {
        text-align: center;
        margin-bottom: 30px;
    }

    .socials {
        margin-bottom: 30px;
    }

    .author {
        margin-right: 0;
        margin-top: 0px;
    }
}

/* Responsivness */
@media(max-width:670px) {
    .sidebar.active~.main-content {
        left: 165px;
        width: calc(100% - 250px);
        z-index: -100;
        pointer-events: none;
        filter: blur(3px);
    }


}

@media(max-width:680px) {
    ::-webkit-scrollbar {
        width: .75em;
    }

    ::-webkit-scrollbar-track {
        background: rgb(229, 229, 33);
        border-radius: 50vw;
    }

    ::-webkit-scrollbar-thumb {
        background: #24262b;
        border-radius: 100vw;

    }
}

@media(max-width:670px) {
    .sidebar.active~.main-content {
        left: 165px;
        width: calc(100% - 250px);
        z-index: -100;
        pointer-events: none;
        filter: blur(3px);
    }

    .sidebar.active~.main-content .logo_svg {
        width: 250%;
    }

    body {
        background-position-x: 60%;
    }

    body {
        background-position-x: 60%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body {
        background-position-x: 60%;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media(min-width:388px) {
    .sidebar.active {
        position: fixed;
    }

    body {
        overflow-x: hidden;
    }

    .logo_svg {
        width: 95%;
    }

    body {
        background-position-x: 50%;
    }

}

.sidebar.active {
    position: fixed;
}

body {
    overflow-x: hidden;
}

body {
    background-position-x: 50%;
}



@media(width<670px) {
    .sidebar .logo img {
        bottom: 0;
        right: -13px;
    }

    .sidebar.active .logo img {
        bottom: 0;
        right: 85px;
    }
}

@media(height<670px) {
    body {
        overflow-y: visible;
    }

    .sidebar .logo img {
        display: none;
    }

    .sidebar.active .logo img {
        display: none;
    }
}

@media(min-width:680px) {

    .logo_svg {
        fill: #fff;
        width: 40%;
        z-index: -1;
    }

    .sidebar .logo img {
        bottom: 0;
        right: -13px;
    }

    .sidebar.active .logo img {
        bottom: 0;
        right: 85px;
    }
}

@media screen and (max-width:800px) {
    body {
        overflow-y: visible;
    }

    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container-about {
        padding: 0px;

    }

    .about {
        padding: 0px;
        flex-direction: column;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-images {
        flex: 1;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content p {
        text-align: center;
        padding: 0px;
        font-size: 20px;
    }

    .about-content .read-more {
        font-size: 16px;
    }
}


@media (max-width:700px) {
    .sidebar {
        width: 100vw;
        height: 80px;
        background-color: #2e2e2e;
        padding: 6px 12px;
        /* transition: all 0.5s ease; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: calc(100% - 80px);
        z-index: 1000;
        position: fixed;

    }



    .sidebar ul {
        display: flex;
        flex-direction: row;
    }

    .sidebar ul li a span {
        display: none;
    }

    footer {
        margin-left: 0;
        width: 100vw;
        padding-bottom: 100px;
    }

    .main-content {
        width: 100vw;
        left: 0;
    }

    .top {
        position: relative;
    }



    .sidebar #btn {
        position: relative;
        font-size: 22px;
    }


    .sidebar.active {
        width: 100vw;
        height: 100vh;
        position: absolute;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    .sidebar.active ul {
        display: flex;
        flex-direction: column;
    }

    .sidebar.active ul li a span {
        display: block;
    }
}



@media(max-width:570px) {
    .sidebar.active {
        width: 100%;
        position: relative;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    .sidebar.active ul li a,
    .sidebar.active .user {
        justify-content: center;
    }
}


@media(max-width: 477px) {
    .sidebar ul li a i {
        font-size: 22px;
    }
}


@media(max-width:430px) {
    .author p {
        font-size: 0.9rem;
        text-align: center;

    }


}


@media(max-width: 417px) {
    .logo_container {
        display: none;
    }

    .sidebar.active .logo_container {
        display: block;
    }

    .sidebar {
        justify-content: space-between;
    }
}

@media(max-width:400px) {

    html,
    body {
        height: 100svh;
        overflow-x: hidden;
    }
}