* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



.background_image {
    background-image: url(../Images/BackgroundFull.png);


}

html {
    height: 100svh;
}

body {
    background-image: linear-gradient(rgba(19, 20, 20, 0.7), rgba(23, 23, 24, 0.7)), url(../Images/BestBackground.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    height: 100svh;
    overflow: hidden;
}

.Body_map {
    color: #3f3f3f;
    fill: currentColor;
    transition: all 0.2s;
    cursor: pointer;
}

.Body_map:hover {
    color: rgb(229, 229, 33);
    animation: glow2 2s infinite;
}

.Female-Front,
.Female-Back {
    display: none;
}

.svg-container {
    position: relative;
    height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Female-Front,
.Female-Back,
.Male-Front,
.Male-Back {
    height: calc(100vh - 72px);
}

.svg-male-container,
.svg-female-container {
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.js-swap_btn,
.js-swap_btn2 {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    background-color: #12171e;
    color: #fcf006;
    position: absolute;
    top: 0;
    left: 0;
}

.js-swap_btn2 {
    display: none;
}

.main_btn {
    padding: 13px 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #12171e;
    color: #fcf006;
    font-weight: 400;
    transition: all 0.3s ease;
}

.js-swap_btn2 {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    background-color: #12171e;
    color: #fcf006;
}

.js-swap_btn2 {
    display: none;
}

.main_btn {
    padding: 13px 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #12171e;
    color: #fcf006;
    font-weight: 400;
    transition: all 0.3s ease;
}

.main_btn:hover,
.js-swap_btn:hover,
.js-swap_btn2:hover {
    background-color: #fcf006;
    color: #12171e;
    scale: 1.1;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 6px 12px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}


.sidebar.active {
    width: 250px;
    position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar img.logo {
    margin-left: 27px;
    width: 55px;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    padding: 5px;
}

.sidebar.active img.logo {
    margin-left: 110px;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    width: 55px;
    /* padding: 5px; */

}

.sidebar #btn {
    position: absolute;
    color: #fcf006;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 2.9rem;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
    height: 25px;
}

.bold {
    font-weight: 600px;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    /* height: 50px; */
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    transition: all 0.5s ease;
}

.sidebar ul li a {
    color: #fcf006;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.5s ease;
}

.sidebar ul li a:hover {
    background-color: #fcf006;
    color: #12171e;
    animation: glow2 2s infinite;
}



.bxs-bowl-hot {
    background-color: #fcf006;
    color: #12171e;
}

.active-page {
    background-color: #fcf006;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 25px;
    margin-right: 10px;
}

.sidebar .nav-item {
    opacity: 0;
    height: 25px;
    margin-bottom: 25px;
}

.sidebar.active .nav-item {
    opacity: 1;
}

/* .nav-list{
    height: 1000px;
} */





/* .calories {
    padding: 0;
    margin-left: 60px;
}

.calories a {
    height: 25px;
    margin-left: 60px;

} */

/* .sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 22px;
    background-color: #fcf006;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 100;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar ul li:hover .tooltip {
    opacity: 100;
    z-index: 20;
}

.sidebar.active ul li .tooltip {
    display: none;
} */

workout .main-content {
    position: relative;
    min-height: 100vh;
    /* top: 0; */
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.logo_svg {
    fill: #fff;
    width: 50%;
    z-index: -1;
}

.bg_logo {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}




.exercises_display {
    position: absolute;
    top: 50%;
    margin-top: -40vh;
    left: 50%;
    margin-left: -35vw;
    /* transform: translate(-50%, -50%); */
    border: solid 2px #fcf006;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 80vh;
    width: 70vw;
    background-color: #12171e;
    color: #eee;
    overflow: auto;
    display: none;
    font-weight: 100;
    text-wrap: wrap;
    z-index: 1;
}

.exercises_display h1 {
    border: solid 3px #fcf006;
}

.exercises_display h1 {
    border: solid 3px #fcf006;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #fcf006;
    color: #12171e;
}

.video_container {
    position: relative;
    display: flex;
    left: 10%;
    gap: 50px;
    width: 40%;
}

.video_container video {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.instructions h2 {
    margin: 40px;
}

.instructions span {
    padding: 10px 22px;
    border: solid 2px #fcf006;
    border-radius: 50%;
    background-color: #fcf006;
    color: #12171e;
    margin: 4px 4px;
}


@keyframes glow {
    0% {
        filter: drop-shadow(0 0 20px #f2f2f2);
    }

    25% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    50% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    75% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    100% {
        filter: drop-shadow(0 0 20px #ffffff);
    }
}

@keyframes glow2 {
    0% {
        filter: drop-shadow(0 0 20px #fcf006);
    }

    25% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    50% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    75% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    100% {
        filter: drop-shadow(0 0 20px #fcf006);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.main_btn:hover {
    animation: glow2 4s infinite, pulse 2s infinite;
}

.main_btn:active {
    scale: 0.9;
}

.logo_svg {
    animation: glow 4s infinite, pulse 2s infinite;
}

.logo_svg {
    cursor: pointer;
    transition: all 0.2s;
    z-index: 100;
}

.logo_svg:hover {
    scale: 1.2;

}

.logo_svg:active {
    scale: 0.9;
}

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: rgb(229, 229, 33);
    border-radius: 50vw;
}

::-webkit-scrollbar-thumb {
    background: #24262b;
    border-radius: 100vw;

}



/* pagina de calculare a caloriilor */



.principal_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.topic_c {
    font-size: 70px;
    text-align: center;
    color: #fcf006;
}

.square_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.square_container ul {
    background-color: #fcf006;
    list-style: none;
    padding: 20px;
    width: 400px;
    margin: 15px;
}

.square_container ul li {
    height: 28px;
}

.intensity_list li,
.weight_list li {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.intensity_list li:hover,
.weight_list li:hover {
    /* text-decoration: underline; */
    border-bottom: 1px solid #12171e;
}

ul h2 {
    text-align: center;
}

.human_character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.human_character .exterior {
    width: 300px;
    height: 300px;
    background-color: gray;
    /* margin: 10px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.interior_1,
.interior_2,
.interior_3 {
    width: 260px;
    height: 260px;
    background-color: #12171e;
    color: #eee;
    font-size: 25px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}



p {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.pointer_1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform-origin: 10px 150px;
    transform: rotate(36deg);
    z-index: 3;
}

.pointer_2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform-origin: 10px 150px;
    transform: rotate(54deg);
    z-index: 3;
}

.pointer_3 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform-origin: 10px 150px;
    transform: rotate(72deg);
    z-index: 3;
}



circle.circle_1 {
    stroke: #fcf006;
    stroke-width: 20px;
    stroke-dasharray: 880;
    stroke-dashoffset: calc(880 - (880 * 10)/100);
    transform-origin: center;
    transform: rotate(-90deg);
    z-index: 2;
    fill: none;
}

circle.circle_2 {
    stroke: #fcf006;
    stroke-width: 20px;
    stroke-dasharray: 880;
    stroke-dashoffset: calc(880 - (880 * 0.15));
    transform-origin: center;
    transform: rotate(-90deg);
    z-index: 2;
    fill: none;
}

circle.circle_3 {
    stroke: #fcf006;
    stroke-width: 20px;
    stroke-dasharray: 880;
    stroke-dashoffset: calc(880 - (880 * 0.2));
    transform-origin: center;
    transform: rotate(-90deg);
    z-index: 2;
    fill: none;
}

.age_progresive {
    position: relative;
}

svg {
    position: absolute;
    top: 0;
    z-index: 2;
}



.age,
.weight,
.height {
    font-weight: 900;
    font-size: 45px;
    height: 65px;
}

/* .numbers {} */


.buttons_container button {
    width: 20px;
    height: 15px;
    margin: 3px;

}

.buttons_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: gray;

}


/* button i {
    color: #12171e;
    font-size: 23px;
} */

.numbers_container {
    display: flex;
    align-items: center;
    width: 100px;
    height: 67px;
    justify-content: space-between;
}












































@media(max-width:800px) {
    .video_container {
        display: flex;
        flex-direction: column;
        left: 5%;
        width: 90%;
    }

    .video_container video {
        border-radius: 20px;
    }
}

@media(max-width:681px) {
    .exercises_display {
        top: 35%;
        width: 80vw;
        font-size: 0.9rem;
    }
}

.sidebar.active~.main-content {
    left: 165px;
    width: calc(100% - 250px);
    z-index: -100;
    pointer-events: none;
    filter: blur(3px);
}

.logo_svg {
    width: 140%;
}

/* .Male-Front,
.Male-Back {
    width: 200px;

} */

/* .Female-Front,
.Female-Back {
    display: none;
    width: 170px;
} */




body {
    background-position-x: 60%;
}

body {
    background-position-x: 60%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}



@media(min-width:388px) {

    /* .Male-Front,
    .Male-Back {
        width: 295px;

    } */

    /* .Female-Front,
    .Female-Back {
        display: none;
        width: 255px;

    } */

    .sidebar.active {
        position: fixed;
    }

    body {
        overflow-x: hidden;
    }

    .logo_svg {
        width: 95%;
    }

    body {
        background-position-x: 50%;
    }

}



@media(width<670px) {
    .sidebar .logo img {
        bottom: 0;
        right: -13px;
    }

    .sidebar.active .logo img {
        bottom: 0;
        right: 85px;
    }
}

@media(height<670px) {
    .sidebar .logo img {
        display: none;
    }

    .sidebar.active .logo img {
        display: none;
    }
}

@media(min-width:680px) {

    .svg-male-container,
    .svg-female-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* .Female-Front,
    .Female-Back {
        display: none;
        width: 280px;
        z-index: 1;
    } */

    .logo_svg {
        fill: #fff;
        width: 40%;
        z-index: -1;
    }

    .sidebar .logo img {
        bottom: 0;
        right: -13px;
    }

    .sidebar.active .logo img {
        bottom: 0;
        right: 85px;
    }
}

@media(min-width:680px) {
    .logo_svg {
        width: 80%;
    }
}

@media(min-width:900px) {
    .logo_svg {
        width: 35%;
    }

    @media(min-width:388px) {

        /* .Male-Front,
        .Male-Back {
            width: 320px;

        } */

        /* .Female-Front,
        .Female-Back {
            display: none;
            width: 285px;
        } */
    }

    @media(max-width:400px) {

        html,
        body {
            height: 100svh;
            overflow-x: hidden;
        }

        .sidebar .logo img {
            position: fixed;
            bottom: 0px;
            left: 40px;
        }

        .sidebar.active .logo img {
            bottom: 55px;
            left: 120px;
        }


    }
}

@media(min-width:670px) {

    .svg-male-container,
    .svg-female-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* .Female-Front,
    .Female-Back {
        display: none;
        width: 280px;
        z-index: 1;
    } */
}

/* .workout a {
    height: 25px;
} */

.workout a {
    height: 50px;
}

.cal_container {
    display: none;
}

.cal_container.active {
    display: block;
    transition: all 0.5s ease;

}

.sidebar ul li a.cal {
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 0px;
    transition: none;
}

.sidebar ul li a.cal:hover {
    background-color: #12171e;
    color: #fcf006;
    animation: none;
    border-bottom: 1px solid #fcf006;
}

@media(max-width:570px) {
    .sidebar.active {
        width: 100%;
        position: relative;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    .sidebar.active ul li a,
    .sidebar.active .user {
        justify-content: center;
    }

    .sidebar.active .logo img {
        right: 38%;
    }
}