* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


svg .background_image {
    background-image: url(../Images/BackgroundFull.png);


}

html {
    height: 100svh;
}

body {
    background-image: linear-gradient(rgba(19, 20, 20, 0.7), rgba(23, 23, 24, 0.7)), url(../Images/BestBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    height: 100svh;
    overflow: visible;
}

.main-container {
    position: relative;
}

.Body_map {
    color: #3f3f3f;
    fill: currentColor;
    transition: all 0.2s;
    cursor: pointer;
}

.Body_map:hover {
    color: rgb(229, 229, 33);
    animation: glow2 2s infinite;
}

.Female-Front,
.Female-Back {
    display: none;
}

.svg-container {
    position: relative;
    height: calc(100vh -32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Female-Front,
.Female-Back,
.Male-Front,
.Male-Back {
    height: calc(100vh - 72px);
    z-index: -1;
}

.svg-male-container,
.svg-female-container {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.js-swap_btn,
.js-swap_btn2 {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    background-color: #12171e;
    color: #fcf006;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.js-swap_btn {
    position: absolute;
    z-index: 100;
}

.js-swap_btn2 {
    display: none;
}

.main_btn {
    padding: 13px 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #12171e;
    color: #fcf006;
    font-weight: 400;
    transition: all 0.3s ease;
}

.js-swap_btn2 {
    padding: 15px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    background-color: #12171e;
    color: #fcf006;
}

.js-swap_btn2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.js-swap_btn2:has(.bx-arrow-back) {
    color: #24262b;
    background-color: #fcf006;
    padding: 0;
    font-weight: bolder;
    top: 10px;
    left: 15px;
}

.main_btn {
    padding: 13px 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #12171e;
    color: #fcf006;
    font-weight: 400;
    transition: all 0.3s ease;
}

.main_btn:hover,
.js-swap_btn:hover,
.js-swap_btn2:hover {
    background-color: #fcf006;
    color: #12171e;
    scale: 1.1;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 6px 12px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}


.sidebar.active {
    width: 250px;
    position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar img.logo {
    transition: all 0.3s;
    padding: 5px;
}

.sidebar.active img.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar #btn {
    position: absolute;
    color: #fcf006;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 2.9rem;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
    height: 25px;
}

.bold {
    font-weight: 600px;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    /* height: 50px; */
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    transition: all 0.5s ease;
}

.sidebar ul li a {
    color: #fcf006;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.5s ease;
}

.sidebar ul li a:hover {
    background-color: #fcf006;
    color: #12171e;
    animation: glow2 2s infinite;
}



.bx-dumbbell {
    background-color: #fcf006;
    color: #12171e;
}

.active-page {
    background-color: #fcf006;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 25px;
    margin-right: 10px;
}

.sidebar .nav-item {
    opacity: 0;
    height: 25px;
    margin-bottom: 25px;
}

.sidebar.active .nav-item {
    opacity: 1;
}


.main-content {
    position: relative;
    min-height: 100vh;
    /* top: 0; */
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.logo_svg {
    fill: #fff;
    width: 50%;
    z-index: -1;
}

.bg_logo {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

/* Footer */

footer {
    height: 300px;
    width: calc(100% - 80px);
    margin-left: 80px;
    background: #12171e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 115px;
    padding-right: 10px;
    font-weight: lighter;
    color: #fff;
    margin-left: 80px;
    text-wrap: nowrap;
}

.info p {
    font-size: 1rem;
}

.info a {
    font-size: 1rem;
    color: #fff;
}

.social_icons {
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    width: 79px;
    justify-content: space-between;
}

.socials p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.social_icons a {
    color: #fff;
}

.social_icons .bxl-instagram-alt,
.social_icons .bxl-facebook-circle {
    transition: 0.3s ease;
}

.social_icons .bxl-instagram-alt:hover,
.social_icons .bxl-facebook-circle:hover {
    scale: 1.1;
    color: #fcf006;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}

.socials img {
    width: 99px;
    animation: glow2 4s infinite;
}

.author {
    margin-right: 40px;
}

.author p {
    font-size: 1.1rem;
    text-align: center;

}

@media(max-width:1050px) {
    footer {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 50px;
    }

    .socials {
        margin-left: 240px;
        margin-right: 0;
    }

    .author {
        flex-grow: 1;
        margin-top: 30px;
    }

}

@media(max-width:590px) {
    footer {
        padding: 40px 2px;
    }
}

@media(max-width:773px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .socials {
        margin: 0;
    }

    .info {
        text-align: center;
        margin-bottom: 30px;
    }

    .socials {
        margin-bottom: 30px;
    }

    .author {
        margin-right: 0;
        margin-top: 0px;
    }
}


.exercises_display {
    position: absolute;
    top: 50%;
    margin-top: -40vh;
    left: 50%;
    margin-left: -35vw;
    /* transform: translate(-50%, -50%); */
    border: solid 2px #fcf006;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    height: 80vh;
    width: 70vw;
    background-color: #12171e;
    color: #eee;
    overflow: auto;
    display: none;
    font-weight: 100;
    text-wrap: wrap;
    z-index: 1;
}

.exercises_display h1 {
    border: solid 3px #fcf006;
}

.exercises_display h1 {
    border: solid 3px #fcf006;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #fcf006;
    color: #12171e;
}

.video_container {
    position: relative;
    display: flex;
    left: 10%;
    gap: 50px;
    width: 40%;
}

.video_container video {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.video_container iframe {
    width: 500px;
}

/* .video_container iframe {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
} */

.instructions h2 {
    margin: 40px;
}

.instructions span {
    padding: 10px 22px;
    border: solid 2px #fcf006;
    border-radius: 50%;
    background-color: #fcf006;
    color: #12171e;
    margin: 4px 4px;
}


@keyframes glow {
    0% {
        filter: drop-shadow(0 0 20px #f2f2f2);
    }

    25% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    50% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    75% {
        filter: drop-shadow(0 0 30px #f5f5f5);
    }

    100% {
        filter: drop-shadow(0 0 20px #ffffff);
    }
}

@keyframes glow2 {
    0% {
        filter: drop-shadow(0 0 20px #fcf006);
    }

    25% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    50% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    75% {
        filter: drop-shadow(0 0 30px #fcf006);
    }

    100% {
        filter: drop-shadow(0 0 20px #fcf006);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.main_btn:hover {
    animation: glow2 4s infinite, pulse 2s infinite;
}

.main_btn:active {
    scale: 0.9;
}

.logo_svg {
    animation: glow 4s infinite, pulse 2s infinite;
}

.logo_svg {
    cursor: pointer;
    transition: all 0.2s;
    z-index: 100;
}

.logo_svg:hover {
    scale: 1.2;

}

.logo_svg:active {
    scale: 0.9;
}

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: rgb(229, 229, 33);
    /* border-radius: 50vw; */
}

::-webkit-scrollbar-thumb {
    background: #24262b;
    /* border-radius: 100vw; */

}



/* pagina de calculare a caloriilor */



.principal_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

h1.topic_c {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.square_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.square_container ul {
    background-color: #fcf006;
    list-style: none;
    padding: 20px;
    width: 400px;
    margin: 15px;
}

.square_container ul li {
    height: 28px;
}

.intensity_list li,
.weight_list li {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.intensity_list li:hover,
.weight_list li:hover {
    /* text-decoration: underline; */
    border-bottom: 1px solid #12171e;
}

.human_character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.human_character .exterior {
    width: 300px;
    height: 300px;
    background-color: gray;
    /* margin: 10px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.exterior .interior {
    width: 260px;
    height: 260px;
    background-color: #12171e;
    color: #eee;
    font-size: 25px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}

.exterior .interior1 {
    width: 260px;
    height: 260px;
    background-color: #12171e;
    color: #eee;
    font-size: 25px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}

.interior p {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pointer {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform-origin: 10px 150px;
    transform: rotate(61deg);
    z-index: 3;
}



circle:nth-child(1) {
    stroke: #fcf006;
    stroke-width: 20px;
    stroke-dasharray: 880;
    stroke-dashoffset: calc(880 - (880 * 17)/100);
    transform-origin: center;
    transform: rotate(-90deg);
    z-index: 2;
    fill: none;
}

.age_progresive {
    position: relative;
}

/* svg {
    position: absolute;
    top: 0;
    z-index: 2;
} */



.age,
.weight,
.height {
    font-weight: 900;
    font-size: 45px;
}


.buttons_container button {
    width: 20px;
    height: 15px;
    margin: 3px;

}

.buttons_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: gray;

}


/* button i {
    color: #12171e;
    font-size: 23px;
} */

.numbers_container {
    display: flex;
    align-items: center;
    width: 100px;
    height: 67px;
    justify-content: space-between;
}

@media(max-width:570px) {
    .sidebar.active {
        width: 100%;
        position: relative;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    .sidebar.active ul li a,
    .sidebar.active .user {
        justify-content: center;
    }


}










































@media(max-width:800px) {
    .video_container {
        display: flex;
        flex-direction: column;
        left: 5%;
        width: 90%;
    }

    .video_container video {
        border-radius: 20px;
    }
}

@media(max-width:681px) {
    .js-swap_btn2 {
        position: absolute;
    }

    .exercises_display {
        top: 55%;
        left: 45%;
        width: auto;
        font-size: 0.9rem;
    }
}


.sidebar.active~.main-content {
    /* left: 165px; */
    margin-left: 0;
    justify-content: center;
    width: 100%;
    z-index: -100;
    pointer-events: none;
    filter: blur(3px);
}

.logo_svg {
    width: 140%;
}





body {
    background-position-x: 60%;
}

body {
    background-position-x: 60%;
    overflow-y: scroll;
}





@media(min-width:388px) {

    /* .Male-Front,
    .Male-Back {
        width: 295px;

    } */

    /* .Female-Front,
    .Female-Back {
        display: none;
        width: 255px;

    } */

    .sidebar.active {
        position: fixed;
    }

    body {
        overflow-x: hidden;
    }

    .logo_svg {
        width: 95%;
    }

    body {
        background-position-x: 50%;
    }

}



@media(width<670px) {
    .sidebar .logo img {
        bottom: 0;
        right: -13px;
    }

    .sidebar.active .logo img {
        bottom: 0;
        right: 85px;
    }
}

@media(height<670px) {
    .sidebar .logo img {
        display: none;
    }

    .sidebar.active .logo img {
        display: none;
    }
}

@media(min-width:780px) {

    .logo_svg {
        fill: #fff;
        width: 40%;
        z-index: -1;
    }

    .sidebar .logo img {
        bottom: 0;
        right: -13px;
    }

    .sidebar.active .logo img {
        bottom: 0;
        right: 85px;
    }
}

/* @media(min-width:680px) {
    .logo_svg {
        width: 80%;
    }
} */

@media(min-width:900px) {
    .logo_svg {
        width: 35%;
    }
}


@media(max-width:400px) {

    html,
    body {
        height: 100svh;
        overflow-x: hidden;
    }

    /* .sidebar .logo img {
        position: fixed;
        bottom: 0px;
        left: 40px;
    } */

    .sidebar.active .logo img {
        bottom: 55px;
        left: 120px;
    }


}

@media(max-width:700px) {
    body::-webkit-scrollbar {
        display: none;
    }
}

@media(max-width:660px) {

    .Female-Front,
    .Female-Back,
    .Male-Front,
    .Male-Back {
        height: calc(100vh - 215px);
        margin-top: 50px;
        z-index: 0;
    }

    .svg-male-container,
    .svg-female-container {
        z-index: 0;
    }

    .js-swap_btn,
    .js-swap_btn2 {
        padding: 10px 15px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        font-size: 25px;
        transition: all 0.3s ease;
        background-color: #12171e;
        color: #fcf006;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}

@media(min-width:880px) {

    .svg-male-container,
    .svg-female-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}



@media(max-width:430px) {
    .author p {
        font-size: 0.9rem;
        text-align: center;

    }
}



/* today */

@media (max-width:700px) {
    .sidebar {
        width: 100vw;
        height: 80px;
        background-color: #2e2e2e;
        padding: 6px 12px;
        /* transition: all 0.5s ease; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: calc(100% - 80px);
        z-index: 1000;
        position: fixed;

    }



    .nav-list {
        display: flex;
        flex-direction: row;
    }

    .nav-list a span {
        display: none;
    }

    footer {
        margin-left: 0;
        width: 100vw;
        padding-bottom: 100px;
    }

    .main-content {
        width: 100vw;
        left: 0;
    }

    .top {
        position: relative;
    }



    .sidebar #btn {
        position: relative;
        font-size: 22px;
    }


    .sidebar.active {
        width: 100vw;
        height: 100vh;
        position: absolute;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    .sidebar.active ul {
        display: flex;
        flex-direction: column;
    }

    .sidebar.active ul li a span {
        display: block;
    }
}

@media(max-width: 477px) {
    .sidebar ul li a i {
        font-size: 22px;
    }
}



@media(max-width: 417px) {
    .logo_container {
        display: none;
    }

    .sidebar.active .logo_container {
        display: block;
    }

    .sidebar {
        justify-content: space-between;
    }
}