*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.background_image{
    background-image: url(Images/BackgroundFull.png);
   
}
html{
    height: 100svh;
}
body{
    background-image:linear-gradient( rgba(19, 20, 20, 0.7),rgba(23, 23, 24, 0.7)), url(Images/contact_bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: 70%;
    height: 100svh;
}
.Body_map {
    color:#3f3f3f;
    fill: currentColor;
    transition:color 0.2s;
}
.Body_map:hover{
    color: rgb(229, 229, 33);
}
.Female-Front,
.Female-Back{
    display: none;
}
.svg-male-container,
.svg-female-container{
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.js-swap_btn{
   padding: 10px 15px;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   font-size: 25px;
   transition: all 0.3s ease;
   background-color: #12171e;
   color: #fcf006;
}
.main_btn{
   padding: 13px 18px;
   border: none;
   cursor: pointer;
   font-size: 20px;
   background-color: #12171e;
   color: #fcf006;
   font-weight: 400;
   transition: all 0.3s ease;
}
.main_btn:hover,
.js-swap_btn:hover{
    background-color: #fcf006;
    color: #12171e;
    scale: 1.1;
}

.user-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}
.sidebar{
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 250px;
    width:calc(100% - 250px);
}
.sidebar.active{
    width: 250px;
    position: relative;
    position: fixed;
}
.sidebar .logo img{
    position: absolute;
    bottom: 0;
    right: -13px;
    width: 55px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ;
}
.sidebar.active .logo img{
    position: absolute;
    bottom: 0;
    right: 85px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ;
}
.sidebar #btn {
    position: absolute;
    color: #fcf006;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}
.user{
    display: flex;
    align-items: center;
    margin: 2.9rem .1rem;
}
.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600px;
}
.sidebar p {
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    transition: all 0.5s ease;
}
.sidebar ul li a{
    color: #fcf006;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.5s ease;
}
.sidebar ul li a:hover{
    background-color: #fcf006;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 25px;
}
.sidebar .nav-item {
    opacity: 0;
}
.sidebar.active .nav-item {
    opacity: 1;
}
.sidebar ul li .tooltip{
    position: absolute;
    left :125px;
    top:22px;
    background-color: #fcf006;
    transform: translate(-50%, -50%) ;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar ul li:hover .tooltip{
    opacity: 1;
    z-index: 20;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.main-content{
    position: relative;
    min-height: 100vh;
    top:0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
.logo_svg{
    fill: #fff;
    width: 50%;
    z-index: -1;
}
.main-content .bg_logo{
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
@keyframes glow {
    0% {
        filter: drop-shadow(0 0 20px #f2f2f2); 
      }
      25%{
        filter: drop-shadow(0 0 30px #f5f5f5); 
      }
      50% {
        filter: drop-shadow(0 0 30px #f5f5f5); 
      }
      75%{
        filter: drop-shadow(0 0 30px #f5f5f5); 
      }
      100% {
        filter: drop-shadow(0 0 20px #ffffff); 
      }
  }
  @keyframes glow2 {
    0% {
        filter: drop-shadow(0 0 20px #fcf006); 
      }
      25%{
        filter: drop-shadow(0 0 30px #fcf006); 
      }
      50% {
        filter: drop-shadow(0 0 30px #fcf006); 
      }
      75%{
        filter: drop-shadow(0 0 30px #fcf006); 
      }
      100% {
        filter: drop-shadow(0 0 20px #fcf006); 
      }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1);
    }
}
   .main_btn:hover{
    animation: glow2 4s infinite, pulse 2s infinite;
   }
   .main_btn:active{
    scale: 0.9;
   }
   .logo_svg {
    animation: glow 4s infinite, pulse 2s infinite; 
  }
  .logo_svg {
    cursor: pointer;
    transition: all 0.2s;
    z-index: 100;
  }
  .logo_svg:hover{
    scale: 1.2;
  }
@media(max-width:680px){

    .logo_svg{
        width: 140%;
        }
    .Male-Front,
    .Male-Back{
        width: 200px;
       
    }
    .Female-Front,
    .Female-Back{
    display: none;
    width: 170px;
    }
    .svg-container{
    position: relative;
    height: calc(150vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
body{
    background-position-x:60% ;
}
}
@media(min-width:388px){
    .Male-Front,
    .Male-Back{
        width: 295px;
       
    }
    .Female-Front,
    .Female-Back{
    display: none;
    width: 255px;
    
}
.sidebar.active{
    position: fixed;
}
body{
    overflow-x: hidden;
}
.logo_svg{
width: 120%;
}
body{
    background-position-x:50% ;
}
}
@media(min-height:913px){
    .sidebar ul li a{
        padding-top: 60px;
    }
}

@media(width<670px){
    .sidebar .logo img{
        bottom: 0;
        right: -13px;
    }
    .sidebar.active .logo img{
        bottom: 0;
        right: 85px;
    }
}
@media(height<670px){
    .sidebar .logo img{
       display: none;
    }
    .sidebar.active .logo img{
       display: none;
    }
}
@media(min-width:680px){
    .svg-male-container,
    .svg-female-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}   
    .Female-Front,
    .Female-Back{
    display: none;
    width: 280px;
    z-index: 1;
}
.logo_svg{
    fill: #fff;
    width: 40%;
    z-index: -1;
}
.sidebar .logo img{
    bottom: 0;
    right: -13px;
}
.sidebar.active .logo img{
    bottom: 0;
    right: 85px;
}
}
@media(min-width:680px){
.logo_svg{
    width: 80%;
    }
}
@media(min-width:900px){
    .logo_svg{
        width: 35%;
        }
@media(min-width:388px){

    .Male-Front,
    .Male-Back{
        width: 320px;
       
    }
    .Female-Front,
    .Female-Back{
    display: none;
    width: 285px;
}
}
@media(max-width:400px){
    html,body{
        height: 100svh;
        overflow-x: hidden;
    }
    .sidebar .logo img{
        position: fixed;
        bottom: 0px;
        left: 40px;
    }
    .sidebar.active .logo img{
        bottom: 55px;
        left: 120px;
    }

   
}
}
@media(min-width:670px){
    .svg-male-container,
    .svg-female-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}   
    .Female-Front,
    .Female-Back{
    display: none;
    width: 280px;
    z-index: 1;
}
}